body {
  font-family: "Roboto Mono", "monospace";
}

h1 {
  color: rgb(50, 208, 108);
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: medium;
}

div img {
  width: 100%;
  margin-bottom: 10px;
}

.rounded {
  border-radius: 10px;
}

.navbar-brand {
  background-color: rgb(50, 208, 108);
  font-size: xx-large;
  padding: 0.5rem;
  border-radius: 20px;
}

.index-content {
  background-color: rgba(255, 255, 255, 0.886);
  border-width: 10px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(30, 43, 181);
  padding: 20px;
  margin-top: 70px;
}

.portfolio-content {
  background-color: rgba(255, 255, 255, 0.886);
  border-width: 10px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(30, 43, 181);
  padding: 20px;
  margin-top: 80px;
}

.contact-content {
  background-color: rgba(255, 255, 255, 0.886);
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(30, 43, 181);
  padding: 20px;
  margin-top: 70px;
}

.container {
  max-width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fixed-bottom {
  position: fixed;
  margin: auto;
  height: 60px;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  line-height: 60px;
  background-color: #93a1f1;
}
